<% @post.comments.order(id: :desc).each do |comment| %>
  <div class="card my-2">
    <div class="card-header">
      <span class="me-2">
        <a href="#comment-<%= comment.id %>">#</a>
      </span>
      <span class="me-3 text-muted">
        <%= @post.creator.email %>
      </span>
      <span class="me-3 text-muted">
        <%= comment.created_at.try(:strftime, ("%d %h, %H:%M")) %>
      </span>
    </div>
    <div class="card-body">
      <p><%= comment.content %></p>
      <div class="ps-5">
        <% comment.children.order(id: :desc).each do |child| %>
          <%= child.content %>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <span>
        <a href="#" class="comment-form-display">Ответить</a>
        <div class="comment-form">
          <%= render partial: 'comments/form', locals: { post: comment.post, parent: comment } %>
        </div>
      </span>
    </div>
  </div>
<% end %>
