<div class="card my-2">
  <div class="card-header">
    <span class="me-2">
      <a href="#comment_<%= post_comment.id %>">#</a>
    </span>
    <span class="me-3 text-muted">
      <%= @post.creator.email %>
    </span>
    <span class="me-3 text-muted">
      <%= post_comment.created_at.try(:strftime, ("%d %h, %H:%M")) %>
    </span>
  </div>
  <div class="card-body">
    <%= post_comment.content %>
    <div class="m-3">
      <%= render post_comment.children.order(id: :asc) if post_comment.children.length > 0 %>
    </div>
  </div>
  <div class="collapse mx-2" id="comment_<%= post_comment.id %>">
    <%= render partial: 'post_comments/reply_form', locals: { post: post_comment.post, parent: post_comment } %>
  </div>
  <div class="card-footer">
    <span>
      <a
        data-bs-toggle="collapse"
        href="#comment_<%= post_comment.id %>"
        role="button"
        aria-expanded="false"
        aria-controls="comment_<%= post_comment.id %>"
      >
        Reply
      </a>
    </span>
  </div>
</div>
